/* styling the container */
.container1 {
  width: 50%;
  padding: 10px;
  margin: 20px;
  background-color: rgb(189, 218, 200);
  border-radius: 10px;
}

/* giving style to the */
input {
  width: 90%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  width: 20%;
  background-color: rgb(12, 65, 32);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  float: left;
}
.col-1 {
  float: left;
  width: 30%;
  margin-top: 5px;
}
.col-2 {
  float: left;
  width: 70%;
  margin-top: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-2.error input {
  border-color: red;
}
.col-2.success input {
  border-color: #4bb543;
}
.col-2 small {
  color: #b00020;
}
/* Responsive layout - when screen size is 1100 at max*/
@media screen and (max-width: 1100px) {
  .container1 {
    width: 60%;
    margin-top: 0;
  }
  .col-1 {
    width: 30%;
  }
  .col-2 {
    width: 60%;
  }
}
/* Responsive layout - when screen size is 800 at max*/
@media screen and (max-width: 800px) {
  .container1 {
    width: 80%;
    margin-top: 0;
  }
  .col-1,
  .col-2 {
    width: 100%;
  }
}
